@page
@model FriendsModel
@{
}
<div>
    <h1>Friends</h1>
    <hr />
    <a href="https://en.wikipedia.org/wiki/Friends"> Link to Wiki Page</a>
    <br />
    <br />
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Friends_logo.svg/375px-Friends_logo.svg.png" alt="friends logo" align="right" hspace="10">
        <em>This article is about the television sitcom. For the social concept, see friendship. For other uses, see Friends (disambiguation).
            "Central Perk" redirects here. It is not to be confused with <a href="https://en.wikipedia.org/wiki/Central_Park">Central Park</a>.</em>
    </div>
    <br />
    <div>
        <p><strong>Friends</strong> is an American television <a href="https://en.wikipedia.org/wiki/Sitcom">sitcom</a>, created by David Crane and Marta Kauffman, which aired on NBC from September 22, 
            1994 to May 6, 2004, lasting ten seasons. With an ensemble cast starring Jennifer Aniston, Courteney Cox, Lisa Kudrow, Matt LeBlanc,
            Matthew Perry and David Schwimmer, the show revolves around six 20–30-something friends living in Manhattan, New York City.
            The series was produced by Bright/Kauffman/Crane Productions, in association with Warner Bros. Television. 
            The original executive producers were Kevin S. Bright, Marta Kauffman, and David Crane.</p>

        <p>Kauffman and Crane began developing Friends under the title <strong>Insomnia Cafe</strong> between November and December 1993.
           They presented the idea to Bright, and together they pitched a seven-page treatment of the show to NBC.
           After several script rewrites and changes, including a title change to <small>Six of One and</small>, Friends Like Us,
           the series was finally named Friends.</p>
    </div>
    <div>
        <span style="font-size:27px">Cast and Characters</span>
        <hr />
        <em>Main article: </em>
        <a href="https://en.wikipedia.org/wiki/List_of_Friends_characters">List of Friends characters</a>
        <br />
        <br />
        <div>
            <table border="1" align="right">
                <tr>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/JenniferAniston08TIFF.jpg/195px-JenniferAniston08TIFF.jpg" style="width:200px;height:150px; alt="friends logo" align="right" hspace="10"></td>
                </tr>
                <tr>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/CourteneyCoxFeb09.jpg/195px-CourteneyCoxFeb09.jpg" style="width:200px;height:150px; alt="friends logo" align="right" hspace="10"></td>
                </tr>
                 <tr>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/X_217c5312.jpg/195px-X_217c5312.jpg" style="width:200px;height:150px; alt="friends logo" align="right" hspace="10"></td>
                </tr>
            </table>
            <dl>
                <dt><a href="https://en.wikipedia.org/wiki/Jennifer_Aniston">Jennifer Aniston</a> as Rachel Green:</dt>
                <dd>A fashion enthusiast and Monica Geller's best friend from childhood.
                    Rachel first moves in with Monica in season one after nearly marrying Barry Farber. 
                    Rachel and Ross Geller are later involved in an on-again-off-again relationship throughout the series. 
                    Rachel dates other men during the series, such as an Italian neighbour, Paolo, in season one; Joshua Bergin, 
                    a client from Bloomingdale's, in season four; Tag Jones, her assistant, in season seven; and Joey Tribbiani in season ten. 
                    Rachel’s first job is as a waitress at the coffeehouse Central Perk, but she later becomes an assistant buyer at Bloomingdale's in season three, and a buyer at Ralph Lauren in season five. 
                    Rachel and Ross have a daughter named Emma in "The One Where Rachel Has a Baby, Part Two" at the end of season eight. 
                    In the final episode of the series, Ross and Rachel confess their love for each other, and Rachel gives up a job in Paris to be with him.</dd>
                <dt><a href="https://en.wikipedia.org/wiki/Courteney_Cox">Courteney Cox</a> as Monica Geller:</dt>
                <dd>The mother hen of the group and a chef, known for her perfectionist, bossy, competitive, 
                    and obsessive-compulsive nature. Monica was overweight as a child. She works as a chef in various restaurants throughout 
                    the show. Monica’s first serious relationship is with long-time family friend Richard Burke, who is twenty-one years her senior. 
                    The couple maintains a strong relationship for some time until Richard expresses that he does not want to have children. 
                    Monica and Chandler Bing later start a relationship after spending a night with each other in London in the season four finale, 
                    leading to their marriage in season seven and adoption of twins at the end of the series.</dd>
                <dt><a href="https://en.wikipedia.org/wiki/Matt_LeBlanc">Matt LeBlanc</a> as Joey Tribbiani: </dt>
                <dd>The mother hen of the group and a chef, known for her perfectionist, bossy, competitive, 
                    and obsessive-compulsive nature. Monica was overweight as a child. She works as a chef in various restaurants throughout 
                    the show. Monica’s first serious relationship is with long-time family friend Richard Burke, who is twenty-one years her senior. 
                    The couple maintains a strong relationship for some time until Richard expresses that he does not want to have children. 
                    Monica and Chandler Bing later start a relationship after spending a night with each other in London in the season four finale, 
                    leading to their marriage in season seven and adoption of twins at the end of the series.</dd>
            </dl>
        </div>
        <div>
            <span style="font-size:25px">References</span>
            <hr />
            <ul>
                <li>"'Friends' Was Originally Called 'Six of One'". Abcnews.go.com. April 5, 2012. Archived from the original on August 8, 2016. 
                    Retrieved August 3, 2016</li>
                <li>Stacy Conradt (February 28, 2015). "The 10 Most-Watched Series Finales Ever". Archived from the original on May 11, 2015. 
                    Retrieved May 24, 2015.</li>
                <li>Fretts, Bruce; Roush, Matt. "The Greatest Shows on Earth". TV Guide Magazine. 61 (3194-3195): 16–19.</li>
                <li>"Matt LeBlanc – Friends Interview". NBC. Archived from the original on May 11, 2016.</li>
            </ul>
        </div>
    </div>
</div>