@page @model GameOfThronesModel @{ }
<div>
    <div>
        <h1> Game of Thrones </h1>
        <hr />
        <a href="https://en.wikipedia.org/wiki/Game_of_Thrones"> Link to Wiki Page </a>
        <br />
        <br />
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/en/d/d8/Game_of_Thrones_title_card.jpg" alt="got logo" align="right" hspace="10">
            <em>This article is about the television series. For the novel in the series A Song of Ice and Fire, see A Game
                of Thrones. For other uses, see A Game of Thrones (disambiguation).</em>
        </div>
        <br />
        <div>
            <p><strong>Game of Thrones</strong> is an American <a href="https://en.wikipedia.org/wiki/Fantasy">
                    fantasy</a> <a href="https://en.wikipedia.org/wiki/David_Benioff">drama</a>
                television series created by David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire,
                <a href="https://en.wikipedia.org/wiki/George_R._R._Martin">
                    George R. R. Martin</a>'s series of fantasy novels, the first of which is A Game of Thrones. It is filmed
                in Belfast and elsewhere in Northren Ireland, Canada, Croatia, Iceland, Malta, Morocco, Spain, and the United
                States. The series premiered on HBO in the United States on April 17, 2011, and its seventh season ended
                on August 27, 2017. The series will conclude with its eighth season premiering in 2019.</p>

            <p>Game of Thrones has attracted record viewership on HBO and has a broad, active, international fan base. It
                has been acclaimed by critics, particularly for its acting, complex characters, story, scope, and production
                values, although its frequent use of <small>nudity and violence</small> (including sexual violence) has been
                criticized. The series has received 38 <a href="https://en.wikipedia.org/wiki/Primetime_Emmy_Award">Primetime
                    Emmy Awards</a>, including Outstanding Drama Series in 2015 and 2016, more than any other primetime scripted
                television series. Its other awards and nominations include three Hugo Awards for Best Dramatic Presentation
                (2012–2014), a 2011 Peabody Award, and five nominations for the Golden Globe Award for Best Television Series
                – Drama (2012 and 2015–2018).</p>

            <p>Of the ensemble cast, <a href="https://en.wikipedia.org/wiki/Peter_Dinklage">Peter Dinklage</a>
                has won two Primetime Emmy Awards for Outstanding Supporting Actor in a Drama Series (2011 and 2015) and the Golden Globe
                Award for Best Supporting Actor – Series, Miniseries or Television Film (2012) for his performance as Tyrion
                Lannister. Lena Headey, Emilia Clarke, Kit Harington, Maisie Williams, Nikolaj Coster-Waldau, Diana Rigg,
                and Max von Sydow have also received Primetime Emmy Award nominations for their performances.</p>
        </div>
        <br />
        <br />
        <span><strong>Contents</strong></span>
        <ol>
            <li><a href="#background">Background</a>
                <ol>
                    <li><a href="#setting">Setting</a></li>
                    <li><a href="#themes">Themes</a></li>
                    <li><a href="#adaption">Adaption schedule</a></li>
                </ol>
            </li>
            <li><a href="#production">Production</a>
                <ol>
                    <li><a href="#filming">Filming</a></li>
                </ol>
            </li>
            <li><a href="#References">References</a></li>
        </ol>
    </div>
    <br />
    <br />
    <div>
        <span style="font-size:27px" id="background">Background</span>
        <hr />
        <em>Main article: </em>
        <a href="https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes">List of Game of Thrones episodes</a>
        <br />
        <br />
        <div>
            <h4 id="setting">Setting</h4>
            <hr />
            <p><strong>Game of Thrones</strong> is roughly based on the storylines of A Song of Ice and Fire, set in the
                fictional Seven Kingdoms of Westeros and the continent of Essos. The series chronicles the violent dynastic
                struggles among the realm's noble families for the Iron Throne, while other families fight for independence
                from it. It opens with additional threats in the icy North and Essos in the east.</p>
            <br />
            <br />
            <h4 id="themes">Themes</h4>
            <hr />
            <p>The series is generally praised for what is perceived as a sort of medieval realism. George R.R. Martin set
                out to make the story feel more like historical fiction than contemporary fantasy, with less emphasis on
                magic and sorcery and more on battles, political intrigue, and the characters, believing that magic should
                be used moderately in the epic fantasy genre. Martin has stated that "the true horrors of human history derive
                not from orcs and Dark Lords, but from ourselves."</p>
            <br />
            <br />
            <h4 id="adaption">Adaption schedule</h4>
            <hr />
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Game_of_Thrones_Oslo_exhibition_2014_-_Weapons.jpg/330px-Game_of_Thrones_Oslo_exhibition_2014_-_Weapons.jpg"
                alt="got logo" align="right" hspace="10">
            <p>Benioff and Weiss originally intended to adapt the entire, still-incomplete A Song of Ice and Fire series
                of novels for television.[citation needed] After Game of Thrones began outpacing the published novels in
                the sixth season, the series was based on a plot outline of the future novels provided by Martin and original
                content. In April 2016, the showrunners' plan was to shoot 13 more episodes after the sixth season: seven
                episodes in the seventh season and six episodes in the eighth. Later that month, the series was renewed for
                a seventh season with a seven-episode order. As of 2017, seven seasons have been ordered and filmed, adapting
                the novels at a rate of about 48 seconds per page for the first three seasons.</p>
            <p>Because the effects became more complex in subsequent seasons (including CGI creatures, fire, and water),
                German-based P ixomondo became the lead visual-effects producer; nine of its twelve facilities contributed
                to the project for season two, with Stuttgart the lead.[116][117] Scenes were also produced by British-based
                Peanut FX, Canadian-based Spin VFX, and U.S.-based Gradient Effects. "Valar Morghulis" and "Valar Dohaeris"
                earned Pixomondo Primetime Emmy Awards for Outstanding Special Visual Effects in 2012 and 2013, respectively</p>
            <br />
            <br />
            <table border="2" width="1000px" height="400px">
                <thead>
                    <tr>
                        <th>Season</th>
                        <th>Ordered</th>
                        <th>Filming</th>
                        <th>First Aired</th>
                        <th>Last Aired</th>
                        <th>Novel adapted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="https://en.wikipedia.org/wiki/Game_of_Thrones_(season_1)">Season 1</a></td>
                        <td>March 2,2010</td>
                        <td>Second half of 2010</td>
                        <td>April 17, 2011</td>
                        <td>June 19,2011</td>
                        <td><a href="https://en.wikipedia.org/wiki/A_Game_of_Thrones">Game of thrones</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://en.wikipedia.org/wiki/Game_of_Thrones_(season_2)">Season 2</a></td>
                        <td>April 19, 2011</td>
                        <td>Second half of 2011</td>
                        <td>April 1, 2012</td>
                        <td>June 3, 2012</td>
                        <td>A Storm of Swords</td>
                    </tr>
                    <tr>
                        <td><a href="https://en.wikipedia.org/wiki/Game_of_Thrones_(season_3)">Season 3</a></td>
                        <td>April 10, 2012</td>
                        <td>July – November 2012</td>
                        <td>March 31, 2013</td>
                        <td>June 9, 2013</td>
                        <td>A Storm of Swords</td>
                    </tr>
                    <tr>
                        <td><a href="https://en.wikipedia.org/wiki/Game_of_Thrones_(season_4)">Season 4</a></td>
                        <td rowspan="2">April 2, 2013</td>
                        <td>July – November 2013</td>
                        <td>April 6, 2014</td>
                        <td>June 15, 2014</td>
                        <td>Dance with Dragons</td>
                    </tr>
                    <tr>
                        <td><a href="https://en.wikipedia.org/wiki/Game_of_Thrones_(season_5)">Season 5</a></td>
                        <td>July – December 2014</td>
                        <td>April 12, 2015</td>
                        <td>June 14,2015</td>
                        <td>A Feast for Crows and A Dance with Dragons</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <span style="font-size:27px" id="production">Production</span>
        <hr />
        <div>
            <h4 id="filming">Filming</h4>
            <hr />
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Malta191.jpg/330px-Malta191.jpg" alt="got logo" align="left"
                hspace="10">
            <p>Principal photography for the first season was scheduled to begin on July 26, 2010, and the primary location
                was the Paint Hall Studios in Belfast, Northern Ireland. Exterior scenes in Northern Ireland were filmed
                at <small>Sandy Brae</small> in the Mourne Mountains (standing in for Vaes Dothrak), Castle Ward (Winterfell),
                Saintfield Estates (the Winterfell godswood), Tollymore Forest (outdoor scenes), Cairncastle (the execution
                site), the Magheramorne quarry (Castle Black) and Shane's Castle (the tourney grounds). Doune Castle in Stirling,
                Scotland, was also used in the original pilot episode for scenes at Winterfell. The producers initially considered
                filming the whole series in Scotland, but decided on Northern Ireland because of the availability of studio
                space</p>

            <p>The first season's southern scenes were filmed in Malta, a change in location from the pilot episode's Moroccan
                sets. The city of Mdina was used for King's Landing. Filming was also done at Fort Manoel (representing the
                Sept of Baelor), at the Azure Window on the island of Gozo (the Dothraki wedding site) and at San Anton Palace,
                Fort Ricasoli, Fort St. Angelo and St. Dominic monastery (all used for scenes in the Red Keep).</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Dubrovnik_crop.jpg/330px-Dubrovnik_crop.jpg" alt="got logo"
                align="right" hspace="10">

            <p>Filming of the second season's southern scenes shifted from Malta to Croatia, where the city of Dubrovnik
                and nearby locations allowed exterior shots of a walled, coastal medieval city. The Walls of Dubrovnik and
                Fort Lovrijenac were used for scenes in King's Landing and the Red Keep. The island of Lokrum, the St. Dominic
                monastery in the coastal town of Trogir, the Rector's Palace in Dubrovnik, and the Dubac quarry (a few kilometers
                east) were used for scenes set in Qarth. Scenes set north of the Wall, in the Frostfangs and at the Fist
                of the First Men, were filmed in November 2011 in Iceland: on the Vatnajökull glacier near Smyrlabjörg, the
                Svínafellsjökull glacier near Skaftafell and the Mýrdalsjökull glacier near Vik on Höfðabrekkuheiði.</p>

            <p>Filming of the seven episodes of season 7 began on August 31, 2016, at Titanic Studios in Belfast, with other
                filming in Iceland, Northern Ireland and many locations in Spain,[103] including Seville, Cáceres, Almodovar
                del Rio, Santiponce, Zumaia and Bermeo. The series also filmed in Dubrovnik, which is used for location of
                King's Landing. Filming continued until the end of February 2017 as necessary to ensure winter weather in
                some of the European locations.</p>
        </div>
        <div>
            <span style="font-size:25px" id="References">References</span>
            <hr />
            <ul>
                <li>Hibberd, James (June 2, 2017). "Game of Thrones: HBO clarifies prequels, final seasons plan". Entertainment
                    Weekly. Archived from the original on June 2, 2017. Retrieved June 2, 2017.</li>
                <li>"Game of Thrones Will Return in 2019". HBO. Retrieved January 4, 2018.</li>
                <li>Fleming, Michael (January 16, 2007). "HBO turns 'Fire' into fantasy series". Variety. Archived from the
                    original on May 16, 2012. Retrieved March 2, 2010.</li>
                <li>Liman, Love (May 3, 2017). "Game of Thrones Crowns Iceland Krona as World's Best Currency". Bloomberg.
                    Archived from the original on May 4, 2017.</li>
            </ul>
        </div>
    </div>
</div>