@page
@model TheOfficeModel
@{
}
<div>
    <h1>The Office(U.S. TV series)</h1>
        <hr />
        <a href="https://en.wikipedia.org/wiki/The_Office_(U.S._TV_series)"> Link to Wiki Page</a>
        <br />
        <br />
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/The_Office_US_logo.svg/375px-The_Office_US_logo.svg.png" alt="office logo" align="right" hspace="10">
            <em>Not to be confused with <a href="https://en.wikipedia.org/wiki/The_Office_(UK_TV_series)">The Office (UK TV series)</a> 
            or <a href="https://en.wikipedia.org/wiki/The_Office_(1995_TV_series)">The Office (1995 TV series)</a>.</em>
        </div>
        <br />
        <div>
            <p><strong>The Office</strong> is an American television sitcom that aired on <a href="https://en.wikipedia.org/wiki/NBC">NBC</a> from March 24, 2005, to May 16, 2013, lasting nine seasons. 
                It is an adaptation of the original BBC series of the same name and was adapted for American television by <a href="https://en.wikipedia.org/wiki/Greg_Daniels">Greg Daniels</a>, 
                a veteran writer for Saturday Night Live, King of the Hill, and <a href="https://en.wikipedia.org/wiki/The_Simpsons">The Simpsons</a>. It was co-produced by Daniels's Deedle-Dee Productions, 
                and Reveille Productions (later Shine America), in association with Universal Television. The original executive producers were Greg Daniels, 
                Howard Klein, Ben Silverman, Ricky Gervais, and Stephen Merchant, with numerous others being promoted in later seasons.</p>
        </div>
        <br />
        <br />
        <span>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Dunder_Mifflin%2C_Inc.svg/330px-Dunder_Mifflin%2C_Inc.svg.png" alt="office logo" align="right" hspace="10">
        <strong>Contents</strong></span>
        <ol>
            <li>Production
                <ol>
                    <li>Crew</li>
                </ol>
            </li>
            <li>Season synopsis
                <ol>
                    <li>Season 1</li>
                    <li>Season 2</li>
                    <li>Season 3</li>
                </ol>
            </li>
            <li>References</li>
        </ol>
    </div>
    <br />
    <br />
    <div>
            <span style="font-size:27px">Production</span>
            <hr />
            <div>
                <h4>Crew</h4>
                <img src="https://upload.wikimedia.org/wikipedia/en/8/80/The_office_US.jpg" alt="office logo" align="right" hspace="10">
                <p><strong>Greg Daniels</strong> served as the senior series showrunner for the first four seasons of the series and developed the British series 
                   for American television. He then left the position when he co-created the comedy series Parks and Recreation with fellow Office 
                   writer Michael Schur and divided his time between the two series. Paul Lieberstein and Jennifer Celotta were named the series 
                   showrunners for the fifth season. <strong>Celotta</strong> left the series after the sixth season and Lieberstein stayed on as showrunner for 
                   the following two seasons. He left the showrunner spot after the eighth season for the potential Dwight Schrute spin-off, The Farm, 
                   which was eventually passed up by NBC. Daniels returned to the showrunner position for the ninth and final season. 
                   Other executive producers include cast members <small>B.J. Novak and Mindy Kaling</small>. Kaling, Novak, Daniels, Lieberstein and Schur made up
                   the original team of writers. Kaling, Novak, and Lieberstein also serve multiple roles on the series, as they play 
                   regular characters on the show, as well as write, direct, and produce episodes. Credited with twenty-four episodes, 
                   Kaling is the most prolific writer on the staff. Ricky Gervais and Stephen Merchant, who created the original British series, 
                   are credited as executive producer and wrote the pilot and the third-season episode, "The Convict."
                   Merchant later directed the episode "Customer Survey" while Gervais appeared in the episodes <a href="https://en.wikipedia.org/wiki/The_Seminar">"The Seminar"</a> and 
                   "Search Committee."</p>
            </div>
            <span style="font-size:27px">Season synopsis</span>
            <hr />
            <div>
                
              <dl>
                  <dt>Season 1</dt>
                  <dd>The series starts by introducing the office's workers via a tour given by the branch manager Michael Scott for both the 
                      camera crew and a first-day temp <strong>Ryan Howard</strong>. The audience learns salesman Jim Halpert has a crush on receptionist 
                      Pam Beesly, who helps him play pranks on co-worker <strong>Dwight Schrute</strong>, even though she is engaged to Roy, who works in the building's 
                      lower-level warehouse. News spreads throughout the office that Dunder Mifflin's corporate headquarters is planning to downsize 
                      an entire branch, leading to general anxiety, but Michael chooses to deny or downplay the realities of the situation in order 
                      to maintain employee morale.</dd>
                  <dt>Season 2</dt>
                  <dd>Many workers seen in the background of the first season are developed into secondary characters, and romantic relationships begin 
                      to develop between some of the characters. Michael makes out with and then spends the night with his boss Jan, but does not
                      have sex with her. <emp>Dwight and Angela</emp> become romantically involved, but keep the relationship a secret from everyone else. 
                      Kelly develops a crush on Ryan, and they start dating. When Roy sets a date for his wedding to Pam, Jim grows depressed 
                      and considers transferring to the Stamford, Connecticut branch, but tells Pam in the season finale that he loves her. Even 
                      though Pam still insists she will marry Roy, the two kiss and Jim transfers to the Stamford branch soon after. The general 
                      threat of downsizing continues throughout the season as well.</dd>
                  <dt>Season 3</dt>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Pennsylvania_Paper_%26_Supply_Company_tower.jpg/330px-Pennsylvania_Paper_%26_Supply_Company_tower.jpg" alt="office logo" align="right" hspace="10">
                  <dd>The season starts with a brief flashback to the last episode of season 2, "Casino Night", when Jim kissed Pam and confessed 
                      his feelings for her. Jim briefly transfers to Stamford branch after Pam confirms her commitment to Roy. Corporate is later 
                      forced to merge the Stamford branch and staff into the Scranton branch.[68] Michael takes this merger very seriously. 
                      Included in the transfer to Scranton are Karen Filippelli, with whom Jim has developed a relationship, and the anger-prone 
                      Andy Bernard. The rest of the Stamford branch are irrelevant considering they all quit within the first few episodes of them 
                      being there. Pam is newly single after calling off her marriage and relationship to Roy prior to the merger, and Jim's unresolved 
                      feelings for her and his new relationship with Karen lead to shifting tensions amongst the three. Meanwhile, Michael and Jan's 
                      relationship escalates which causes them both to behave erratically on the job. On the other hand, Dwight and Angela continue 
                      their steamy secret relationship. In the season's finale, Jim, Karen, and Michael interview for a corporate position that turns 
                      out to be Jan's, who is fired that day for poor performance. Jim wins and rejects the offer off-screen,
                      opting instead to return to Scranton without Karen and ask Pam out on a date, which she joyfully accepts. In the 
                      final scene, we learn Ryan has been awarded Jan's job due to his business school credentials.</dd>
              </dl>  
            </div>
            <div>
                <span style="font-size:25px">References</span>
                <hr />
                <ul>
                    <li> Carter, Bill; Elliot, Stuart (May 14, 2012).
                        <a href="https://www.nytimes.com/2012/05/15/business/media/networks-bank-on-comedies-for-2012-13-season.html">"Comedies Lead the Way for the Next TV Season"</a>. The New York Times. 
                        Retrieved May 25, 2012./li>
                    <li><a href="https://www.imdb.com/title/tt0386676/fullcredits">"Full cast and crew for "The Office""</a>. 
                    IMDb. Retrieved November 29, 2011.</li>
                    <li>The Office: Search Committee, 7.25–7.26". OfficeTally. Retrieved November 6, 2011.</li>
                    <li>"Interview with Joss Whedon". The A.V. Club. August 8, 2007. Retrieved June 24, 2008..</li>
                </ul>
            </div>
        </div>
</div>